.wp-core-ui .button-link:disabled {
    color: #777;
    cursor: text;
}

fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #c3c4c7
}

#post-body-content, #titlediv { display:none }

#poststuff #post-body.columns-2 {
    margin-right: unset;
}

#postbox-container-1 {
    display:none;
}

#lasntgadmin-orders-component select, .form-field input[type=email], .form-field input[type=number], .form-field input[type=password], .form-field input[type=search], .form-field input[type=tel], .form-field input[type=text], .form-field input[type=url], .form-field textarea {
    width: 100%;
}

.form-field select {
    max-width: unset;
}

div#woocommerce-order-data {
    background: unset;
    border: unset;
    box-shadow: unset;
}

div#woocommerce-order-data nav.woo-nav-tab-wrapper {
    margin: unset;
}

div#order_data {
    padding: 0 12px;
    margin: unset;
}

.components-notice {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left:0;
    margin-right:0;
    padding: 1px 10px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    border-top: 1px solid #c3c4c7;
    border-right: 1px solid #c3c4c7;
    border-bottom: 1px solid #c3c4c7;
}

.components-notice.is-dismissible {
    padding-right: unset;
}

.lasntgadmin-spinner {
    margin: 5px 11px 0px;
    display: inline-block;
}

.components-radio-control {
    background: #fff;
    padding: 5px;
}

.components-radio-control__input[type=radio] {
    display:none;
}

.components-radio-control__option label:hover {
    cursor: pointer;
}
